EXPO_PUBLIC_DISCOGS_TOKEN=your_discogs_token
EXPO_PUBLIC_OMDB_API_KEY=your_omdb_api_key
EXPO_PUBLIC_NOTION_API_KEY=your_notion_api_key
EXPO_PUBLIC_NOTION_VINYLS_DB_ID=your_vinyls_db_id
EXPO_PUBLIC_NOTION_MOVIES_DB_ID=your_movies_db_id
